<html>
<head>
    <title>Home</title>
</head>
<body>
<div>
    <div>
        <h1>Shopping Cart</h1>
    </div>
    <div>
        <div>
            <h1>Catalog 1</h1>
        </div>
        <div>
            <h1>Catalog 2</h1>
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="Enter product name...">
                <button>Search</button>
            </form>

        </div>
    </div>

    <div class="cart-list">
        <div class="cart">
            <div>
                <img src="" alt="" />
                <div>Unit Price: <b>XXX.XXX</b></div>
                <div>Total: <b>XXX.XXX</b></div>
            </div>
            <div>
                <div>-</div>
                <input type="text" name="quantity"/>
                <div>+</div>
            </div>
            <button>Remove</button>
        </div>


    </div>
</div>


</body>
</html>